@page "/qrcode"
@using QRCoder

<PageTitle>QR Code</PageTitle>

<button @onclick="LoadQrCode">Create QR-Code</button>

<img src="@qrSrc" />

@code {
    public string qrSrc { get; set; } = "";

    byte[] GenerateQR()
    {
        QRCodeGenerator qrGenerator = new QRCodeGenerator();
        QRCodeData qrCodeData = qrGenerator.CreateQrCode("https://www.bing.com", QRCodeGenerator.ECCLevel.Q);
        BitmapByteQRCode qrCode = new BitmapByteQRCode(qrCodeData);
        byte[] qrAsBmpByteArr = qrCode.GetGraphic(20);
        return qrAsBmpByteArr;
    }

    void LoadQrCode()
    {
        string qrStr = Convert.ToBase64String(GenerateQR());
        qrSrc = $"data:image/png;base64,{qrStr}";
    }
}
